<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- just references -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>Prisoner Dilemma </title>
</head>
<body>
<div id="app" class="container-fluid">
    <div class="container-fluid clearfix mb-3 shadow">
      <div class="float-right w-25 py-3">
        <p class="d-inline"> {% raw %} {{ username }} {% endraw %} </p>
      </div>
    </div>
</div>
<div> <h2>Briefing and Consent</h2>
    <p>Dear participant please read the following carefully: You are about to participate in a research experiment on cooperation in prisoners dilemma games.
    You will recive monetary rewards for your participation depending on your choices in the game.
        You are playing with other participants, please wait in the Lobby until you see that others are online.
        Before the game please answer the 3 questions about you demographics and after the game a short questionaire, then you can enter your payment details and recive your reward.</p>

<button onclick="Nexttoconsent()" type="button"> Next: Consent </button>
<p id="demo"></p>
    <script>
function Nexttoconsent() {
  document.getElementById("demo").innerHTML = "next page not written yet";
}
</script>
    <!-- Hier noch richtiges consentform reinschreiben -->
</div>
<div> <h2>Consent</h2>
<p> I hereby consent to participating in this experiment. The data will be recorded anonymosly.  </p>
    <form action="/action_page.php">
Full name: <input type="text" name="Full Name" value="Mickey Mouse"><br>
Date: <input type="text" name="Date" value="22.12.1999"><br>
<input type="submit" value="Submit">
</form>

<p>Click the "Submit" button to give your consent and continue to the study. You will be randomly assigned to one of the Experimental conditions.</p>
</div>
</body>
</html>

