<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
</head>
<body>
<h2>Questionnaire</h2>
<p>please answer the following questions truthfully, after you submitted the questions you will be tranfered to the side where you can enter your payment details. </p>
<form action="index.php" name="QuestionnaireB5" method="Post">
<p>Please indicate wether the following statements match you. From 1 (not at all) to 10 (completely) <br> Make sure to tick only one box per question! </p>
<!-- "+" scored withdraw part of neuroticism -->
    I am filled with doubts about things.<br>
    <input type="checkbox" name="1" value="1"> 1
<input type="checkbox" name="3" value="3"> 3
    <input type="checkbox" name="4" value="4"> 4
    <input type="checkbox" name="5" value="5"> 5
    <input type="checkbox" name="6" value="6"> 6
    <input type="checkbox" name="7" value="7"> 7
    <input type="checkbox" name="8" value="8"> 8
    <input type="checkbox" name="9" value="9"> 9
    <input type="checkbox" name="10" value="10"> 10 <br>
<br>
     Feel threatened easily..<br>
    <input type="checkbox" name="1" value="1"> 1
<input type="checkbox" name="3" value="3"> 3
    <input type="checkbox" name="4" value="4"> 4
    <input type="checkbox" name="5" value="5"> 5
    <input type="checkbox" name="6" value="6"> 6
    <input type="checkbox" name="7" value="7"> 7
    <input type="checkbox" name="8" value="8"> 8
    <input type="checkbox" name="9" value="9"> 9
    <input type="checkbox" name="10" value="10"> 10 <br>
<br>
     I worry about things.<br>
    <input type="checkbox" name="1" value="1"> 1
<input type="checkbox" name="3" value="3"> 3
    <input type="checkbox" name="4" value="4"> 4
    <input type="checkbox" name="5" value="5"> 5
    <input type="checkbox" name="6" value="6"> 6
    <input type="checkbox" name="7" value="7"> 7
    <input type="checkbox" name="8" value="8"> 8
    <input type="checkbox" name="9" value="9"> 9
    <input type="checkbox" name="10" value="10"> 10 <br>
<br>
     I am easily discouraged.<br>
    <input type="checkbox" name="1" value="1"> 1
<input type="checkbox" name="3" value="3"> 3
    <input type="checkbox" name="4" value="4"> 4
    <input type="checkbox" name="5" value="5"> 5
    <input type="checkbox" name="6" value="6"> 6
    <input type="checkbox" name="7" value="7"> 7
    <input type="checkbox" name="8" value="8"> 8
    <input type="checkbox" name="9" value="9"> 9
    <input type="checkbox" name="10" value="10"> 10 <br>
<br>
     I become overwhelmed by events.<br>
    <input type="checkbox" name="1" value="1"> 1
<input type="checkbox" name="3" value="3"> 3
    <input type="checkbox" name="4" value="4"> 4
    <input type="checkbox" name="5" value="5"> 5
    <input type="checkbox" name="6" value="6"> 6
    <input type="checkbox" name="7" value="7"> 7
    <input type="checkbox" name="8" value="8"> 8
    <input type="checkbox" name="9" value="9"> 9
    <input type="checkbox" name="10" value="10"> 10 <br>
    <br>

    I am afraid of many things.<br>
    <input type="checkbox" name="1" value="1"> 1
<input type="checkbox" name="3" value="3"> 3
    <input type="checkbox" name="4" value="4"> 4
    <input type="checkbox" name="5" value="5"> 5
    <input type="checkbox" name="6" value="6"> 6
    <input type="checkbox" name="7" value="7"> 7
    <input type="checkbox" name="8" value="8"> 8
    <input type="checkbox" name="9" value="9"> 9
    <input type="checkbox" name="10" value="10"> 10 <br>
<br>

    <!-- "+" scored enthusiasm part of Extraversion -->
    I make friends easily.<br>
    <input type="checkbox" name="1" value="1"> 1
<input type="checkbox" name="3" value="3"> 3
    <input type="checkbox" name="4" value="4"> 4
    <input type="checkbox" name="5" value="5"> 5
    <input type="checkbox" name="6" value="6"> 6
    <input type="checkbox" name="7" value="7"> 7
    <input type="checkbox" name="8" value="8"> 8
    <input type="checkbox" name="9" value="9"> 9
    <input type="checkbox" name="10" value="10"> 10 <br>
<br>

    I warm up quickly to others.<br>
    <input type="checkbox" name="1" value="1"> 1
<input type="checkbox" name="3" value="3"> 3
    <input type="checkbox" name="4" value="4"> 4
    <input type="checkbox" name="5" value="5"> 5
    <input type="checkbox" name="6" value="6"> 6
    <input type="checkbox" name="7" value="7"> 7
    <input type="checkbox" name="8" value="8"> 8
    <input type="checkbox" name="9" value="9"> 9
    <input type="checkbox" name="10" value="10"> 10 <br>
<br>

     I show my feelings when im happy.<br>
    <input type="checkbox" name="1" value="1"> 1
<input type="checkbox" name="3" value="3"> 3
    <input type="checkbox" name="4" value="4"> 4
    <input type="checkbox" name="5" value="5"> 5
    <input type="checkbox" name="6" value="6"> 6
    <input type="checkbox" name="7" value="7"> 7
    <input type="checkbox" name="8" value="8"> 8
    <input type="checkbox" name="9" value="9"> 9
    <input type="checkbox" name="10" value="10"> 10 <br>
<br>

     I have a lot of fun.<br>
    <input type="checkbox" name="1" value="1"> 1
<input type="checkbox" name="3" value="3"> 3
    <input type="checkbox" name="4" value="4"> 4
    <input type="checkbox" name="5" value="5"> 5
    <input type="checkbox" name="6" value="6"> 6
    <input type="checkbox" name="7" value="7"> 7
    <input type="checkbox" name="8" value="8"> 8
    <input type="checkbox" name="9" value="9"> 9
    <input type="checkbox" name="10" value="10"> 10 <br>
<br>

</form>
</body>
</html>